body {
    background-color: black;
    width: 95%;
    margin: auto;
}

.header {
    position: fixed;
    z-index: 99999;

    width: 95%;
    height: 180px;

    background: url('images/starfield-banner.jpg');
}


.header .logo {
    display: inline-block;

    width:110px;
    height: 110px;
    margin:11px;

    background: no-repeat center/100px 100px url('images/nasa_logo.png');
}
.footer .logo {
  float: left;

  width: 80px;
  height: 80px;
  margin: 8px;

  background: no-repeat center/70px 70px url('images/nasa_logo.png');
}
.header a {
    display:inline-block;

    text-decoration: none;
    color: white;
}

.topbanner-row1 {
  display: inline-block;
  position: absolute;
  left: 25%;
}
.link-topbanner-row1 {
  padding: 30px 10px;

  font-size: 25px;
}
.link-topbanner-row1::before {
  content: ''; 
  display: inline-block; 
  position: relative;
  left: -10px;
  bottom: -10px;    

  height: 40px;

  border-right: solid  #BCB7AB 1px;
}

.link-topbanner-row1:first-child::before {
  display: none;
}


.topbanner-row2 {
  display: block;
  position: absolute;
  top: 122px;
  left: 350px;

  background: rgb(112, 105, 105);

}
.link-topbanner-row2 {
  padding: 10px 10px;

  font-size: 20px;
}
.link-topbanner-row2::before {
  content: '';  
  display: inline-block;
  position: relative;
  left: -10px;
  top: 6.25px;
  
  height: 25px;

  border-right: solid  #BCB7AB 1px;
}

.link-topbanner-row2:first-child::before {
  border: 0;
}

.link-topbanner-row2:hover {
  background: rgb(196, 168, 168);
}
.header form {
  display: inline-block;
  position: absolute;
  left: 80%;
  top: 40px;
}

.header input {
    width: 200px;
    height: 48px;  
    border: 0;
    padding-left: 5px;

    font-size: 20px;
    background: rgba(112, 108, 108, 0.815);
}

.header form::after {
    content: "\e60c";
    display: inline-block;
    position: relative;
    top: 1px;

    font-size: 22px;
    font-family: "iconfont";
    color: white;
}

.header form::before {
    content: "\e600";
    display: inline-block;
    position: relative;
    left: 200px;
    top:1px;


    font-family: "iconfont";
    font-size: 22px;
    color: white;
}
/*css styles for main*/
.main {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 180px;
}
.contentbox {
  position: relative;
}
.main a {
  display: block;
  position: absolute;
  bottom: 0;

  padding: 10px;

  font: 1em sans-serif;
  text-decoration: none;
  color: white;
  
}

.contentbox:nth-of-type(1) {
  width: 850px;
  height: 680px;
  margin: 20px;

  background: no-repeat center/850px 680px url('./images/pia21924-16.jpg');
}

.contentbox:nth-of-type(2) {
  width: 380px;
  height: 340px;
  margin: 20px;

  background: no-repeat center/380px 340px url('./images/mollweide_cycle.jpg');
}

.contentbox:nth-of-type(3) {

  width: 380px;
  height: 340px;
  margin: 20px;

  background: #39719E;
}
.contentbox:nth-of-type(4) {
  position: absolute;
  left: 890px;
  top: 360px;

  width: 800px;
  height: 320px;
  margin: 20px;

  background: no-repeat center/800px 320px url('./images/s69-39961.jpg');
}
.contentbox:nth-of-type(5){
  width: 393px;
  height: 393px;
  margin: 20px;

  background: no-repeat center/393px 393px url('./images/ssc2017-14a1.jpg');;
}

.contentbox:nth-of-type(6){
  width: 824px;
  height: 393px;
  margin: 20px;

  background: no-repeat center/824px 393px url('./images/pia22556-16.gif');;
}

.contentbox:nth-of-type(7){
  width: 393px;
  height: 393px;
  margin: 20px;

  background: no-repeat center/393px 393px url('./images/nasa_logo.png');
}
.contentbox:nth-of-type(8){
  width: 393px;
  height: 393px;
  margin: 20px;

  background: no-repeat center/393px 393px url('./images/nasa_logo.png');
}
.contentbox:nth-of-type(9){
  width: 393px;
  height: 393px;
  margin: 20px;

  background: no-repeat center/393px 393px url('./images/io-home.gif');
}
.contentbox:nth-of-type(10){
  width: 393px;
  height: 393px;
  margin: 20px;

  background: no-repeat center/393px 393px url('./images/cassini20170809.jpg');
}
.contentbox:nth-of-type(11){
  width: 393px;
  height: 393px;
  margin: 20px;

  background: no-repeat center/393px 393px url('./images/fermiicecube_as.jpg');
}

.more-stories a {
  display: block;

  width: 1712px;
  height: 40px;

  font: 1em sans-serif;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
  color: white;

  background: #15418C;
}
.more-stories a:hover {
  background: #6380b2;
}
/*css styles for footer*/
.footer {
  position: absolute;
  top: 2000px;

  width: 95%;
  height: 120px;
}
.footer p {
  margin: 5px;
  color: white;
}
.footer .footerbanner {
  position: absolute;
  bottom: 0;
  right: 0;
} 
.footer a {
  display: inline-block;

  padding: 10px 17px;

  text-decoration: none;
  color: #5D7FB9;
}